@import 'tailwindcss';

@theme {
  --color-text: #1d1d1b;
  --color-text-subtle: #bfbfbe;
  --color-background: #f6f6f6;
  --color-background-darker: #d3d3d3;
  --color-red: #c6492a;

  --text-card-title: 28px;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}
